source_directories:
  - /mnt/{{PROJECT}}/www
  - /mnt/{{PROJECT}}/ext_www
  - /mnt/{{PROJECT}}/db_dumps
exclude_patterns:
  - /mnt/{{PROJECT}}/bitrix/backup
  - /mnt/{{PROJECT}}/www/bitrix/cache
  - /mnt/{{PROJECT}}/www/bitrix/managed_cache
  - /mnt/{{PROJECT}}/www/bitrix/stack_cache
  - /mnt/{{PROJECT}}/www/bitrix/tmp
  - /mnt/{{PROJECT}}/www/bitrix/html_pages
  - /mnt/{{PROJECT}}/www/upload/resize_cache
  - /mnt/{{PROJECT}}/ext_www/*/bitrix
  - /mnt/{{PROJECT}}/ext_www/*/upload/
  - /mnt/{{PROJECT}}/ext_www/*/images/
repositories:
  - label: {{PROJECT}}
    path: /mnt/backups/{{PROJECT}}
one_file_system: false

encryption_passcommand: "echo ${BORG_PASSPHRASE}"

atime: false
ctime: true
birthtime: true

checkpoint_interval: 1800
chunker_params: 19,23,21,4095
retries: 0
retry_wait: 0
lock_wait: 3600
umask: 077

compression: lz4
archive_name_format: "{{PROJECT}}-{now:%Y-%m-%d_%H-%M-%S}"

keep_daily: 7
keep_weekly: 4
keep_monthly: 6

after_backup:
  - date +%F > /mnt/backups/{{PROJECT}}/.full_last_success
#after_prune:
#  - borg compact {{PROJECT}}
on_error:
  - echo "Ошибка во время резервного копирования" >&2

files_cache: ctime,size