# --- Настройки подключения ---
SERVER_IP="YOUR_IP"
SSH_USER="root"
SSH_PORT=22

DB_NAME="sitemanager"

# Путь к репозиторию внутри WSL через SSH-протокол
BORG_REPO="ssh://$SSH_USER@$SERVER_IP:$SSH_PORT/mnt/backups/$SSH_USER"

BACKUP_SRC=(
    "/home/bitrix/www"
    "/home/bitrix/ext_www"
)
DUMP_FILE="${BACKUP_SRC[0]}/mysql_dump.sql"

PROJECT="your_project"